.progression {
    background-color: blue;
    height: 2px;
}
.sinogram {
    text-align: center;
}
.sinogram .character {
    font-size: 4em;
}
.sinogram .translation {
    line-height: 8em;
}
#pager-top {

}
#pager-bottom {
    position: absolute;
    bottom: 0;
}